#nav{
    background-color: rgba(32,38, 73,1);
    padding:16px 30px ;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.38);
}

#name{
    font-size: 30px;
    font-weight: bold;
 
}
#subscribe{
    background-color: transparent;
    border: 1px solid #ffffff; 
    padding: 11px 30px;
    border-radius:5px ;
    font-weight: bold;
    font-size: 12px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
     display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center ;
}
li{
    font-size: 18px;
}

#empty{
    background-color: rgba(32,38, 73, 1); 
        margin: 97px 42px 110px 42px;  width: 1196px; 
       height: 475px; border-right: 5px;
    }
#background{
    background-color: rgba(32,38, 73, 1); 
        margin:80px 55px;  width: 537px;
       height: 588px;line-height: 63px;
       padding: 250px 25px; border: 10px solid #ffffff;
       box-sizing: border-box;
       position: absolute; top: -130px; right: 330px; bottom:64px; left: 330px;
       
       }